<div class="row">
  <div class="col-md-4 offset-md-4">
    <h2 class='text-center'>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name, required: true, autofocus: true, input_html: {class: 'form-control mb-2'}, label: false, placeholder: 'Name' %>
        <%= f.input :email,
                    required: true, placeholder: 'Email', label: false,
                    input_html: { autocomplete: "email", class: 'form-control mb-2' }%>
        <%= f.input :password,
                    required: true, placeholder: 'Password', label: false,
                    input_html: { autocomplete: "new-password", class: 'form-control mb-2' } %>
        <%= f.input :password_confirmation,
                    required: true, label: false, placeholder: 'Password confirmation',
                    input_html: { autocomplete: "new-password", class: 'form-control mb-2' } %>
      </div>

      <div class="form-actions btn btn-primary d-grid">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>
  </div>
</div>